.thumbnail {
	position: relative;
	width: 200px;
	height: 200px;
	overflow: hidden;
}
.thumbnail img {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 100%;
	width: auto;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
.thumbnail img.portrait {
	width: 100%;
	height: auto;
}

/* Override background image */
.bg-login-image {
	background: url("/img/bg-login.svg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.bg-register-image {
	background: url("/img/bg-register.svg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.bg-password-image {
	background: url("/img/bg-password.svg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.bg-email-image {
	background: url("/img/bg-password.svg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.bg-confirm-password {
	background: url("/img/bg-confirm-password.svg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.bg-gradient-uN1tY{
	background-color: #075EAB;
	background-image: linear-gradient(180deg,#075EAB 10%,#064b88 100%);
	background-size: cover;
}
